* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  font-size: 62.5%;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.popup {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  z-index: 99999;
  width: 90%;
  text-align: center;
  background: red;
  color: white;
  border-radius: 12px;
  padding: 12px;
  text-transform: uppercase;
}
#show {
  background: green;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo svg {
  width: 4em;
  height: 4.3em;
}
.logo h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
}
.hero {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
.right-col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.right-col img {
  padding: 0 1em;
  width: 100%;
  opacity: 0.3;
  pointer-events: none;
}
.left-col {
  position: absolute;
  margin: 20px;
}
#countDown {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.clock {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: red;
}
.clock h2 {
  margin: 0;
  font-size: 3rem;
}
.dot {
  font-size: 1.2rem;
  margin: 0;
  line-height: 2;
}
.left-col h1 {
  font-size: 2rem;
  color: red;
  z-index: 999;
}
.email {
  margin: 1em 0;
}
.email p {
  font-size: 20px;
  font-weight: 700;
}
.inp {
  display: flex;
  align-content: flex-start;
  margin: 12px 0;
  flex-grow: 1;
}
.inp input {
  border: 1px solid grey;
  border-radius: 14px 0 0 14px;
  padding: 3px 6px;
}
.inp button {
  border: none;
  background-color: red;
  color: #fff;
  border-radius: 0 14px 14px 0;
  padding: 3px 10px;
  cursor: pointer;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.socialLinks {
  display: flex;
  gap: 12px;
  list-style: none;
  font-size: 18px;
}
.footer p {
  font-size: 14px;
}
@media screen and (min-width: 900px) {
  .logo {
    gap: 1em;
  }
  .hero {
    flex-direction: row;
    margin: 0 1em;
  }
  .left-col {
    position: unset;
    width: 50%;
  }

  .right-col {
    width: 50%;
  }
  .right-col img {
    opacity: 1;
  }
  #countDown {
    justify-content: flex-start;
    gap: 4em;
  }
  .clock h2 {
    font-size: 3rem;
  }
  .dot {
    font-size: 1.2rem;
  }
  .left-col h1 {
    font-size: 3rem;
  }
  .email {
    width: 100%;
  }
  .inp input {
    padding: 12px 24px;
    border-radius: 28px 0 0 28px;
  }
  .inp button {
    padding: 12px 24px;
    border-radius: 0 28px 28px 0;
  }
}

@media screen and (min-width: 1080px) {
  .logo {
    gap: 1em;
  }
  .hero {
    flex-direction: row;
    margin: 0 1em;
  }
  .left-col {
    position: unset;
    width: 50%;
  }

  .right-col {
    width: 50%;
  }
  .right-col img {
    opacity: 1;
  }
  #countDown {
    justify-content: flex-start;
    gap: 4em;
  }
  .clock h2 {
    font-size: 4rem;
  }
  .dot {
    font-size: 1.6rem;
  }
  .left-col h1 {
    font-size: 4rem;
  }
  .email {
    width: 100%;
  }
  .inp input {
    padding: 12px 24px;
    border-radius: 28px 0 0 28px;
  }
  .inp button {
    padding: 12px 24px;
    border-radius: 0 28px 28px 0;
  }
}

@media screen and (min-width: 480px) {
  #countDown {
    justify-content: flex-start;
    gap: 4em;
  }
  .clock h2 {
    font-size: 3rem;
  }
  .dot {
    font-size: 1.2rem;
  }
  .left-col h1 {
    font-size: 2rem;
  }
  .email {
    width: 100%;
  }
  .inp input {
    padding: 12px 24px;
    border-radius: 28px 0 0 28px;
  }
  .inp button {
    padding: 12px 24px;
    border-radius: 0 28px 28px 0;
  }
}

@media screen and (min-width: 600px) {
  #countDown {
    justify-content: flex-start;
    gap: 4em;
  }
  .clock h2 {
    font-size: 4rem;
  }
  .dot {
    font-size: 1.5rem;
  }
  .left-col h1 {
    font-size: 4rem;
  }
  .email {
    width: 100%;
  }
  .inp input {
    padding: 12px 24px;
    border-radius: 28px 0 0 28px;
  }
  .inp button {
    padding: 12px 24px;
    border-radius: 0 28px 28px 0;
  }
}
